body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*************************
Page d'accueil
*************************/
.imagePrincipale {
  background-color: #20596B;
}
.imagePrincipale img {
  width: 100%;
}

.image img {
  width: 100%;
}

.imgBarre {
  background-color: #20596B;
  padding: 20px;
  /* box-shadow: 1px 3px 5px rgb(219, 7, 7); */
}

.imgBarre .row.icons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.imgBarre .adresse img, .imgBarre .heuresOuvertures img {
  height: 30px;
}

.imgBarre p {
  text-align: left;
  margin-left: 15px;
  color: white;
  font-size: 12px;
  margin-top: 0px;
}

.imgBarre .row.icons .col .adresse, .imgBarre .row.icons .col .heuresOuvertures {
  /* , .imgBarre .row.icons .col .phone_mail  */
  display: flex;
  
}

.imgBarre .row.icons .phone, .imgBarre .row.icons .mail {
  /* , .imgBarre .row.icons .col .phone_mail  */
  display: flex;
}

.imgBarre .row.icons .phone {
  margin-top: 2px;
}
.imgBarre .phone_mail img {
  height: 20px;
}

.titre-sur-image {
  position: absolute;
  right: 30px;
  left: 80%;
  bottom: 13%;
  text-align: right;
  color: #20596B;
}

@media (max-width: 1400px){
  .titre-sur-image {
    background-color: #FAFAF5;
    padding: 10px;
    left: 60%;
    right: 20px;
    bottom: 40%;
  }
  .titre-sur-image img {
    width: 60%;
  }

  .titre-sur-image h3 {
    font-size: 30px;
  }
}

h1 {
  font-weight: 300;
  font-size: 20px;
}

/* h2 {
  font-weight: 375;
  font-size: 50px;
  color: #20596B;
} */

h3 {
  /* font-family: 'Inter'; */
  font-weight: 300;
  font-size: 40px;
  margin: 5px;
}

/* Section de merites et d'accomplissements de la physio */
.iconSection {
  background-color: #FAFAF5;
}

.iconSection .row.icons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
}


.iconSection .row.icons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
}

.iconSection .col {
  width: 400px;
}

.iconSection {
  padding-top: 40px;
  padding-bottom: 10px;
  text-align: center;
}

.iconSection p {
  color: #20596B;
}

.iconSection .col img {
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}

.iconSection .row.description {
  text-align: center;
}

/* Section d'information supplementaire */
.extraInfoClasse {
  background-color: #20596B;
}


.extraInfoContainer .col.image {
  padding: 30px 80px;
}
.extraInfoContainer .col img{
  color: white;
  width: 400px;
}

.extraInfoContainer .col.extraInfo {
  padding: 30px 80px 30px 0px;
  text-align: left;
}


.extraInfoContainer .col .row p{
  /* display: table-cell; */
  /* padding: 10px 60px 30px 30px; */
  color: white;
  text-align: left;
  margin: 0px;
  margin-bottom: 20px;
}

.extraInfoContainer {
  /* display: table-cell; */
  display: flex;
  margin-left: auto;
  margin-right: auto;
}


/*******************
Bouton
*******************/
button {
  border: none;
  padding: 10px 25px;
  border-radius: 15px;
  font-family: 'Inter';
  font-size: 13px;
  font-weight: 450;
}

/* Bouton de couleur bleu */
button.btn {
  background-color: #20596B;
  color: white;
}

/* Bouton de couleur blanche */
button.btn.white {
  background-color: white;
  color: #20596B;
  font-weight: bold;
}

/* Hover du bouton */
button.btn:hover {
  background-color: #0b7c9f;
  color: white;
  cursor: pointer;
}

/* Types de services pour les patients */
.typeServicesClasse {
  padding: 20px 40px;
  /* font-family: "Inter"; */
  /* margin: 20px; */
  background-color: #FAFAF5;
  color: #20596B;
  /* max-width: 800px; */
}


.typeServices {
  
  display: flex;
  
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.typeServices .typeServicesCartes {
  display: table-cell;
  width: 40%;
  max-width: 450px;
  background-color: white;
  padding: 20px 40px;
  box-shadow: 1px 2px 2px #6a6a6a70;
  /* border-radius: 5px; */
  text-align: left;
}


.typeServices .typeServicesCartes .typeServices-titre {
  text-align: left;
}

.typeServices .typeServicesCartes .typeServices-body {
  height: 70px;
  font-size: 14px;
  
}


/*************************
Barre de navigation
**************************/
.navbar {
  background-color: #12718F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color:beige;
  text-decoration: underline;
}

/* Image du logo dans barre de navigation */
.navbar img {
  height: 60px;
  padding: 10px;
}

.navLinks a {
  margin: 20px;
}

/* Donne de l'espace entre le lien pour changer la langue et 
le cote de la page */
.navLinks:last-child {
  margin-right: 20px;
}

/*****************************
Page de services
*****************************/
img.imgServices {
  width: 300px;
}

.card-services {
  padding: 10px;
}

.border-end.col-md-3 {
  border: 1px solid #BDBDBD;
  background-color: white;
  width: 120px;
  padding: 20px;
  margin-top: 18px;
  margin-left: 10px;
}

.card-body-services.card-body {
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  margin: 8px;
  /* cursor: pointer; */
  padding: 6px;
  width: 1000px;
  text-align: center;
}

.body-service {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.servicesfferts {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
}



/****************************
 Pied de page 
 ****************************/
footer {
  background-color: rgba(18, 115, 145, 0.68);
  display: flex;
  padding: 20px 40px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



/* Ligne droite blanche qui sert de separateur */
hr.gauche, hr.droite {
  
  height: 2px;
  
  color: white;
  border: none;
  background-color: white;
}

hr.gauche {
  width: 100%;
  margin-left: 0px;
}

hr.droite {
  width: 70%;
  margin-right: 0px;
}

footer .col.gauche, footer .col.droite {
  width: 300px;
}

/* Mets les images sur la meme ligne que les descriptions */
.col.gauche .adresse, .col.gauche  .phone {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

.gauche .adresse img, .gauche .phone img {
  width: 20px;
}

.gauche p {
  color: white;
  font-size: 12px;
  
  margin: 0px;
  margin-left: 10px;
}


.gauche img.naturaPhysio {
  height: 40px;
}

.centre {
  display: flex;
  
  flex-direction: column;
  align-items: center;
}
.centre a {
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.droite .heuresOuvertures p {
  text-align: right;
  color: white;
  font-size: 12px;
}

.droite .mediasSociaux {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


.droite .mediasSociaux img {
  width: 20px;
  padding-left: 10px;
}

/***********************
Page A propos
***********************/
.container.aPropos .about, .container.notreEquipe .equipe, .faq-titre {
  /* max-width: 1400px;
  margin-left: auto;
  margin-right: auto; */
  margin-left: 40px;
  margin-right: 40px;
}

.container.aPropos, .container.notreEquipe {
  background-color: #FAFAF5;
}
/* Largeur du hr sur la page about */
.about hr {
  width: 220px
}

.equipe, .about, .faq-titre{
  padding-top: 29.05px;
}

/* Largeur du hr sur la page equipe */
.notreEquipe hr {
  width: 300px;
  margin-left: 0px;
}

.container.physio {
  background-color: #20596B;
  color: white;
}


.about hr, .equipe hr, .contact hr, .page1 hr, .page2 hr, .page3 hr, .faq hr {
  
  height: 3px;
  
  color: #20596B;
  border: none;
  background-color: #20596B;
  margin-left: 0px;
  margin-top: 0px;

}

.faq hr {
  width: 120px;
}

.faq .aide {
  display: flex;
}

.videoAboutUs {
  width: 600px;
  height: 300px;
  background-color: white;
  border: 1px solid #858383;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.btn-aide img {
  width: 30px;
  margin-top: 15px;
  margin-left: 15px;
}

.msgAide {
  background-color: white;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
  padding: 10px;
}

.btn-aide {
  width: 60px;
  height: 60px;
  background-color: #12718F;
  border-radius: 50%;
  border: 1px solid #20596B;
}

.faq_questions, .faq-questions {
  margin-top: 15px;
  margin-bottom: 20px;
}
.faq-questions {
  max-width: 950px;
  margin-left: 40px;
}

.page1 hr, .page2 hr, .page3 hr {
  width: 290px;
}
.about img.image2 {
  width: 600px;
}

.row h2, .row h2 {
  font-family: 'Inter';
  color: #20596B;
  font-size: 35px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.aboutUsContainer {
  display: flex;
  padding-bottom: 20px;
  padding-top: 20px;
}

.aboutUsContainer p, .aboutUsContainer button {
  margin-left: 20px;
  margin-top: 0px;
}

/**************
Page equipe
**************/
/* .container.equipe {
  background-color: #FAFAF5;
} */

.physio{
  background-color: #20596B;
  /* display: flex; */
  padding: 20px;
}
.physio_equipe {
  display: flex;
}

.masso_equipe {
  display: flex;
}

.physio_equipe .col.extraInfo {
  padding: 20px;
  margin-right: 50px;
  color: white;
}

.masso_equipe .col.extraInfo {
  padding: 20px;
  margin-right: 50px;
  color: #20596B;
}

.masso_equipe .col.extraInfo button, .physio_equipe .col.extraInfo button {
  margin-top: 20px;
}

h2.white {
  color: white;
}

.masso {
  background-color: #FAFAF5;
  display: flex;
  padding: 20px;
}

.physio .col.image img, .masso .col.image img {
  width: 250px;
  padding: 20px;
}


/****************
Page contact
****************/
.container.contact {
  display: flex;
  background-color: #FAFAF5;
}

.container.contact .col {
  /* width: 50%; */
  /* width: 600px; */
}

.container.contact img {
  width: 100%;
  height: 100%;
}

.infoContact {
  padding: 20px;
}

.contact hr {
  width: 375px;
}

.infoContact .adresse img , .infoContact .courriel img, .infoContact .telephone img{
  width: 20px;
}

.infoContact p {
  color: #20596B;
  padding-left: 10px;
}

.infoContact .adresse, .infoContact .courriel, .infoContact .telephone {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.contact-col {
  padding: 40px;
  padding-left: 60px;
}

.infoContact .ouvertures p {
  padding: 0px;
  margin: 2px;
}

.infoContact button {
  margin-top: 10px;
}

.contactForm {
  background-color: #20596B;
  display: flex;
  padding: 50px;
  padding-right: 0px;
}

/* .formulaireContact {
  margin-right: auto;
  margin-left: auto;
} */

.col.formulaireContact h3 {
  /* margin-left: 50px; */
  text-align: center;
  color: white;
  margin-top: 0px;
  font-size: 35px;
}
.col.formulaireContact h4 {
  /* margin-left: 50px; */
  text-align: center;
  color: white;
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 300;
}

.contactForm .col {
  vertical-align: bottom;
  /* display: flex; */
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

/* iframe {
  justify-content:center;
} */
/* form .row.center {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 5px;
} */

/* form .row.left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 5px;
} */
form .center.row {
  /* display: flex; */
  /* padding: 10px; */
}

form .left.row {
  /* padding: 10px; */
}


.form-control {
  width: 300px;
  padding: 10px;
  margin: 8px;
  text-align: left;
  border-radius: 5px;
  border: 1px solid #808080;
}

.form-control .center {
  margin-left: 10px;
}

textarea {
  /* width: 100%; */
  resize: vertical;
}

.formulaire_contact {
  /* margin-left: auto;
  margin-right: auto; */
  text-align: center;
}

.formulaireContact.col {
  margin-left: auto;
  margin-right: auto;
}

/* Progressbar */
.progressbar {
  margin: 10 auto; /* donne un espace plus restreint */
  padding: 2em 0 3em; /* pour la barre dans l'arriere plan */
  position: relative;
  display: flex;
  justify-content: space-between; /* donne de l'espace */
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* Barre de progression */
.progressbar::before, .progress {
  content: "";
  height: 5px;
  position: absolute;
  top: 60px; /* emplacement de la barre sur axe des y */
  width: 100%;

  /* couleur de la barre en arriere plan */
  background-color: #D9D9D9;
}

/* Couleur de l'etape dans la barre de progression */
.progress-step.progress-step-active {
  background-color: #20596B;
  color: white;
}

/* Barre de progres lorsque etape completee */
.progress {
  background-color: #20596B;
  width: 0%;
}

.progress-step {
  width: 60px;
  height: 60px;
  background-color: #ceced1;
  color:#858383;
  border-radius: 50%; /* forme un cercle */
  z-index: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: all .25s ease-out; /* fade-in/fade-out */
}


/* Labels des etapes de la barre de progression */
.ProgressBar-stepLabel {
  text-align: center;
  display: block;
  color: #858383;
  font-family: var(--bs-body-font-family);
  font-weight: 450;
  position: absolute;
  padding-top: 100px;
  width: 25%;
  transition: all .25s ease-out;
}

/*******************
Page de reservation
*******************/
.page1, .page2, .page3 {
  background-color: #FAFAF5;
  padding: 40px;
  padding-top: 29.05px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.reserveBtn {
  display: flex;
  justify-content: center;
}


.reservation-services, .reservation-infoPersonnelle, .reservation-confirmation {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}

.reservation-services .titre-reservation-services, .reservation-infoPersonnelle, .titre-reservation-infoPersonnelle, .titre-reservation-confirmation {
  text-align: center;
  color: #20596B;
}

.annulationRdv {
  background-color: #FAFAF5;
  padding-top: 150px;
  padding-bottom: 100px;
}

.annulationRdv h2 {
  margin-top: 0px;
}

.reservation-services .selection {
  display: flex;
  justify-content: space-between;
}


.reservation-services .selection .form-select, .react-datepicker__input-container input {
  width: 300px;
  padding: 10px;
  margin: 8px;
  text-align: left;
  border-radius: 5px;
  /* border: ; */
}

.react-datepicker__input-container input {
  width: 100%;
  cursor: pointer;
  border: 1px solid #808080;
}

.btnAnnulation {
  margin-left: auto;
  margin-right: auto;
}

.date-time {
  color: #20596B;
  /* text-align: center; */
}

.date-time p {
  margin-bottom: 5px;
  margin-left: 8px;
  /* text-align: center; */
}

.date-time p.textDate {
  text-align: center;
  margin-bottom: 25px;
}

.details-reservation-confirmation h2 {
  color: #20596B;
  margin-bottom: 2px;
}

/* .date-time input {
  margin-left: auto;
  margin-right: auto;
} */

.slots {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-title.h5, .card-body {
  /* padding: 5px; */
  background-color: white;
  font-size: 25px;
  color: #20596B;
  margin-left: 5px;
}

.card-body-services .col {
  color: black;
  font-size: 15px;
  text-align: left;
  padding: 10px;
}


.card-body p {
  margin: 0px;
}

.test {
  margin: 10px;
}

.content {
  background-color: #FAFAF5;
  padding-bottom: 15px;
}

.center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.reservation-services .center {
  text-align: center;
}


.card-body {
  border: 1px solid #BDBDBD;
  margin: 8px;
  /* cursor: pointer; */
  padding: 6px;
  width: 80px;
  text-align: center;

  background-color: white;
    /* padding: 20px 40px; */
  box-shadow: 1px 2px 2px #6a6a6a70;
    /* border-radius: 5px; */
    /* text-align: left; */
}

.card-body:hover {
  border: 1px solid #20596B;
}

.reservation-infoPersonnelle .form-label, .reservation-infoPersonnelle .form-check {
  color: black;
}

.form-info {
  display: flex;
  text-align: left;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.reservation-infoPersonnelle .form-label, .reservation-infoPersonnelle .form-check {
  margin-left: 8px;
}

.form-adresse {
  display: flex;
}

.form-nouveauPatient h2 {
  margin-left: 8px;
  margin-top: 30px;
  margin-bottom: 2px;
}

.form-nouveauPatient p {
  margin-top: 2px;
  margin-left: 8px;
}

.form-nouveauPatient {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.form-nouvPatient-questions {
  margin-top: 10px;
}

/* .card-body:active, .card-body:focus, .select.card-body {
  background-color: #12718F;
  color: #fff;
} */

/* .card-body:active:visited{
  background-color: green;
  color: #fff;
} */

.mainStepper {
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stepper {
  position: relative;
  display: flex;
  align-items: center;
  color: #0b7c9f;
}

.barreNavig {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: #808080;

}